{% extends 'layout.html' %}
{% block middle %}
			<div class="col-xs-10">
				<h2>Test 1K concurrent API requests for 15 seconds</h2>
				<div class="text-center">
				<iframe width='100%' height='300' frameborder='0' src='//share.loader.io/reports/a9f2250f253bada0b566c17e36ee7228/widget/results/a51b58e71c2d872490297b47ec3f4be8'></iframe>
				<div style="width: 100%; text-align:center;">
				<a href="http://loader.io/reports/a9f2250f253bada0b566c17e36ee7228/results/a51b58e71c2d872490297b47ec3f4be8" target="_blank" style="padding: 0 10px 10px 0;  font-size: 20px;">Watch simulation, and see stats on loader.io</a>
				</div>
				</div>
			</div>
{% endblock %}

{% block nav %}
	<li>Go to <a href="{{ url_for('home') }}">the summary</a></li>
{% endblock %}